*{
    margin: 0;
    padding: 0;
}

body{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}


.wrap-everything{
    background-color: rgb(167, 188, 247);
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.imagem{
    padding-top: 20px;
}

.wrap-nav{
    display: flex;
    padding-bottom: -50px;
}